.root {
	-fx-background-color: white;
	-fx-font-size: 25;
	-fx-background-size: 100% 100%;
}

Button {
	 -fx-background-color: 
        #090a0c;
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
}
Button:hover {
	-fx-text-fill: red;
}


